body {
    background-color: var(--main-color);
    padding-left: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.text-column {
    width: 50%;
}

.img-column {
    width: 50%;
    align-content: center
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
    } 
     .robot-img {
         animation-play-state: paused;
         width: 150px;
    }
    .people-img {
        width: 120px;
    }
    
}

@media (max-width: 640px) {
    main {
        flex-direction: column;
    } 
    .img-column {
        display: none;
    }
    /* .robot-img {
        animation-play-state: paused;
        width: 150px;
   }
   .people-img {
       width: 120px;
   } */
}
